/**
 * style
 **/

.header-img {
  width: 8.5em;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100%;
  border: 1px solid #f0f0f0;
}

main {
  position: relative;
  z-index: 1;
  height: 100%;
}

@media (min-width: 40em) {
  header {
    top: 0;
    width: 100%;
  }
  .header-img {
    width: 15em;
  }
}

@media (min-width: 80em) {
  header {
    top: 0;
    width: 100%;
  }
  .header-img {
    width: 15em;
  }
}
